<div class="wrapper">
    <div class="header header-filter" style="background-image: url('././img/landing.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="title text-center">About us</h1>
                </div>
            </div>
            <div class="row">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-play"></i> Watch video
                </a>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <!--section start-->
            <div class="section landing-section">
                <div class="row">
                    <h3 class="text-center"> Information</h3>
                </div><br>
                <div class="row description text-spacing">
                    At Hawker Technologies, We deliver perfomance optimized, big data driven, scalable web and mobile
                    applications,for product startups.HawkerTechnologies is technology service provider based out of New
                    Delhi, India. Established in 2014, we have been serving small and medium enterprises primarily in
                    European and American countries. We take end to end responsibility of your technology needs, so that
                    you can focus and build your own business.
                </div><br>
                <div class="row description text-spacing">
                    Hawker Technologies creates for its customers a long-term, sustainable, competitive advantage. We
                    complement your team with some of the brightest technical minds in their fields, possessing
                    expertise in enterprise class architectures, tools and technologies.

                    Once engaged with our client, we take pride in ownership of design, development, quality & support
                    for their products. Many of our clients consider our experts to be inseparable from their own
                    product development teams, and we do everything possible to maintain the trust that has led to many
                    productive, long-term relationships.
                </div><br>
                <!-- section end -->
                <!-- section start -->
                <div class="section">
                    <h3 class="text-center">Hawker team</h3>
                    <div class="row description text-spacing">
                        We are group of passionate technology enthusiasts. We are mad about latest technologies trends,
                        web and mobile domain. We love, dream and live technology, and would like to do same for rest of
                        our lives by building technology for you.
                    </div>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="team-player text-center">
                                    <img src="https://lh3.googleusercontent.com/-5qOHQRfy01I/AAAAAAAAAAI/AAAAAAAAACA/VirnQnwTAIQ/s90-c-k-no/photo.jpg"
                                        alt="Thumbnail Image" class="img-circle">
                                    <h5 class="">Narender Kumar<br />
                                        <small class="text-muted">PHP Developer</small>
                                    </h5>
                                    <!--<p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>-->
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i
                                            class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i
                                            class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i
                                            class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player text-center">
                                    <img src="https://avatars0.githubusercontent.com/u/18462407?v=3&s=460"
                                        alt="Thumbnail Image" class="img-circle">
                                    <h5 class="">Narender Saini<br />
                                        <small class="text-muted">Android & Java Developer</small>
                                    </h5>
                                    <!--<p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>-->
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i
                                            class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i
                                            class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player text-center">
                                    <img src="https://avatars0.githubusercontent.com/u/9996813?v=3&s=460"
                                        alt="Thumbnail Image" class="img-circle">
                                    <h5 class="">Ajay Saini<br />
                                        <small class="text-muted">Full-Stack Developer</small>
                                    </h5>
                                    <!--<p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>-->
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i
                                            class="fa fa-google-plus"></i></a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon"><i
                                            class="fa fa-youtube-play"></i></a>
                                    <a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i
                                            class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>