<div class="wrapper">
    <div class="header header-filter" style="background-image: url('././img/landing.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="title text-center">Contact us</h1>
                </div>
            </div>
            <div class="row">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-play"></i> Watch video
                </a>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container section landing-section">
            <div class="row">
                <h3 class="text-center">Contact Information</h3>
            </div><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <h5> Email ID's </h5>
                    <ul>
                        <li>hawker.technologies@gmail.com</li>
                        <li>saini.naren1270@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5> Phone Number </h5>
                    <ul>
                        <li>+918802874830</li>
                        <li>+919871548694</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5> Office Address </h5>
                    <ul>
                        <li>908 NSP</li>
                        <li>Delhi-110034, INDIA</li>
                    </ul>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <h3 class="text-center">Send us a Message</h3>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group label-floating">
                                    <label class="control-label">Your Name</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group label-floating">
                                    <label class="control-label">Your Email</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group label-floating col-md-10">
                            <label class="control-label">Your Messge</label>
                            <textarea class="form-control" rows="4"></textarea>
                        </div>
                        <div class="form-group text-center col-md-10">
                            <button class="btn btn-primary btn-raised">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>