<div class="wrapper">
	<div class="header header-filter" style="background-image: url('././img/landing.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Web Apps &  Mobile Apps Development</h1>
						<h3>Hawker team specialize in front-end/backend development of software solutions.</h3>
					</div>
				</div>
			</div>
            <br><br><br><br><br>
			<div class="row">
				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
					<i class="fa fa-play"></i> Watch video
				</a>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="section section-basic">
	    	<div class="container text-center">
	            <div class="title">
	                <h3>What We Do</h3>
	            </div>
				<div class="description text-spacing">
	                Working as technology partner, we convert our partner's business idea into successful product by developing web & mobile applications.
					We take end to end responsibility for converting your idea into reality. We take ownership of complete product development life cycle in agile manner, to continuously deliver feature rich applications.
	            </div>
				<div class="team">
					<div class="row">
						<div class="col-md-4">
							<div class="team-player text-center">
								<img src="https://dkk48r7el8i6l.cloudfront.net/images/feature2.png"  class="img-circle">
								<h5 class="">Mobile Applications</h5>
								<p class="description">We work on your idea, as technology partner, to deliver cross platform and native mobile applications.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-player text-center">
								<img src="https://dkk48r7el8i6l.cloudfront.net/images/what_we_do_web_application.png"  class="img-circle">
								<h5 class="">Web Applications</h5>
								<p class="description">We specialize in delivering performance optimized, scalable and integrated web platform for your product.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-player text-center">
								<img src="https://dkk48r7el8i6l.cloudfront.net/images/what_we_do_application_maintenance.png"  class="img-circle">
								<h5 class="">Applications Maintenance</h5>
								<p class="description">Bouquet of ADM ( Application Development & Maintenance ) services to manage, maintain and scale your existing apps.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="team">
					<div class="row">
							<iframe class="col-md-12" src="https://www.google.com/maps/d/embed?mid=1V7ht5hk2S97TINu2HmKf2zTPAXM"
							 height="480" style="padding:0;border:none;">
							</iframe>
					</div>
				</div>

	    	</div>
	    </div>
	</div>
    
</div>

