<div class="wrapper">
    <div class="header header-filter" style="background-image: url('././img/landing.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="title text-center">Projects</h1>
                </div>
            </div>
            <div class="row">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-play"></i> Watch video
                </a>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">

            <!--section start-->
            <div class="section landing-section">
                <div class="row">
                    <h3 class="text-center">Our Amazing Projects</h3>
                </div><br>
                <div class="row description text-spacing">
                    At Hawker Technologies, We deliver perfomance optimized, big data driven, scalable web and mobile
                    applications,for product startups.HawkerTechnologies is technology service provider based out of New
                    Delhi, India. Established in 2016, we have been serving small and medium enterprises primarily in
                    European and American countries. We take end to end responsibility of your technology needs, so that
                    you can focus and build your own business.
                </div><br>
                <!-- section end -->
                <!-- section start -->


            </div>
        </div>
    </div>
</div>